.header {
      background-color: #f8f9fa;
      padding: 10px 0;
      margin-bottom: 20px;
    }
   
    .logo img {
      max-width: 100%;
      height: auto;
    }

    .menu a {
      margin: 0 15px;
      color: #333;
      text-decoration: none;
    }

    .login,
    .cart {
      margin-left: auto;
    }

    .carousel {
      height: calc(100vh - 60px);
    }

    .carousel-item {
      height: 100%;
    }

    .carousel-item img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      margin-top: 30px;
      border-radius: 15px;
    }

    .juegos-ofertas{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .ofertas{
      background-color: white;
      border-radius: 15px;
      width: 100%;
      height: 100%;
    }
    .ofertas img{
      height: 100px;
      width: 70px;
      margin-left: 20px;
      margin-top: 13px;
      margin-bottom: 15px;
    }

    .juego-info {
      display: flex;
      align-items: center;
  }
  
  .descripcion-y-compra {
      margin-left: 10px;
  }
  
  .descripcion-y-compra p {
      margin-bottom: 5px;
  }
  
  .comprar-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.4s;
}

.comprar-btn:hover {
    background-color: #45a049;
}
  
  
    @media (max-width: 767px) {
      .menu {
        margin-top: 15px;
      }

      .text-right {
        text-align: center;
        margin-top: 15px;
      }

      .login,
      .cart {
        margin-left: 0;
        margin-top: 10px;
        display: block;
      }

      .carousel {
        height: auto;
      }

      .carousel-item {
        height: auto;
      }
    }